In [1]:
import numpy as np
import pandas as pd

In [8]:
priceData = pd.read_csv('all_stocks_5yr.csv')

In [9]:
processed = pd.DataFrame()

In [10]:
for stock in np.unique(priceData["Name"]):
    df = pd.DataFrame()
    df = priceData.loc[priceData['Name'] == stock][['date','close']]
    df = df.transpose()
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    df = df.rename(index={'close': stock})
    processed = pd.concat([processed, df])
processed

date,2013-02-08,2013-02-11,2013-02-12,2013-02-13,2013-02-14,2013-02-15,2013-02-19,2013-02-20,2013-02-21,2013-02-22,...,2018-01-25,2018-01-26,2018-01-29,2018-01-30,2018-01-31,2018-02-01,2018-02-02,2018-02-05,2018-02-06,2018-02-07
A,45.08,44.6,44.62,44.75,44.58,42.25,43.01,42.24,41.63,41.8,...,73.86,74.82,74.53,72.99,73.43,72.83,71.25,68.22,68.45,68.06
AAL,14.75,14.46,14.27,14.66,13.99,14.5,14.26,13.33,13.37,13.57,...,53.05,53.07,52.68,52.59,54.32,53.88,52.1,49.76,51.18,51.4
AAP,78.9,78.39,78.6,78.97,78.84,79,80.72,79.5,79.06,79.21,...,120.92,123.64,122.89,119.27,116.99,117.29,113.93,109.86,112.2,109.93
AAPL,67.8542,68.5614,66.8428,66.7156,66.6556,65.7371,65.7128,64.1214,63.7228,64.4014,...,171.11,171.51,167.96,166.97,167.43,167.78,160.5,156.49,163.03,159.54
ABBV,36.25,35.85,35.42,35.27,36.57,37.58,38.19,38.61,38.78,38.46,...,108.3,123.21,122.31,115.88,112.22,116.34,115.17,109.51,111.2,113.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,27.09,27.46,27.95,28.26,28.47,28.28,28.76,27.96,27.68,27.79,...,73.24,74.41,73.41,73.07,72.26,74.84,75.66,72.66,71.33,71.79
YUM,65.3,64.55,64.75,64.41,63.89,63.99,65.15,64.56,65.05,65.45,...,85.66,86.2,86.48,84.59,84.59,83.98,82.63,79.8,80.58,80.13
ZBH,75.85,75.65,75.44,76,76.34,75.9,76.11,75.31,73.87,74.14,...,124.74,126.23,127.39,125.94,127.12,128.19,125.79,123.18,122.3,120.78
ZION,24.14,24.21,24.49,24.74,24.63,24.34,24.69,24.14,23.73,24.04,...,53.02,54.02,54.19,53.93,54.03,54.98,54.15,51.65,52.52,54.02
ZTS,33.05,33.26,33.74,33.55,33.27,33.98,33.84,32.72,32.56,32.59,...,79.25,80.09,79.18,78.35,76.73,77.82,76.78,73.83,73.27,73.86